*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.same{
    width: 50%;
}
.container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.reaction{
    display: flex;
    justify-content: space-around;
}
